/*
    ---color list---
    first : #692be2 
    text:color: rgb(238, 238, 238)  

*/
#video_call_logo{
  height: 60px;
  width: 100px;
  padding-left: 50px;
}

#logo1 {
  height: 60px;
  width: 100px;
  padding-right: 300px;
}
.nav {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #b99d9d;
  font-weight: 200;
  background-color: #4d4748;
}
.nav ul {
  display: flex;
  list-style: none;
  width: 1000px;
  justify-content: space-between;
  padding-right:  50px;
}
.nav ul li {
  display: flex;
  padding-left: 50px;
}
.nav ul li a {
  text-decoration: none;
  color: rgb(226, 201, 201);
  font-size: larger;
  padding-left: 50px;
}
